---
import {Image} from 'astro:assets'
import p1Sprite from '../assets/p1sprite.png'
import p2Sprite from '../assets/p2sprite.png'
import p3Sprite from '../assets/p3sprite.png'
import DownSplatLogo from '../assets/DownSplatlogo.png'
---

<div id="gameOverlay">
  <h2 class="header"><Image src={DownSplatLogo} alt="DownSplat logo" />
    <span class="hidden">DownSplat</span></h2>
  <div class="livesOverlay hide">
  <div class="player-one-lives">
    <span>P1 Lives <br/> <span class="p1-lives-text"></span></span>
    <br/>
    <Image src={p1Sprite} alt="A bird sitting on a nest of eggs." />
    <br />
    <span>Arrow Keys </span>
  </div>
  <div class="player-two-lives"><span>P2 Lives <br/><span class="p2-lives-text"></span></span>
    <br/>
     <Image src={p2Sprite} alt="A bird sitting on a nest of eggs." />
    <br />
      <span>Z &lt; &gt; X </span>
</div>
  <div class="player-three-lives"><span>P3 Lives <br/> <span class="p3-lives-text"></span></span>
    <br/>
     <Image src={p3Sprite} alt="A bird sitting on a nest of eggs." />
    <br />
       <span>N &lt; &gt; M</span>

  </div>
  </div>

  <div class="init-wrapper">
    <h3>Jump in!</h3>
<div class="player-button-wrapper">
<button id="twoPlayer">Two Player</button>
<button id="threePlayer">Three Player</button>
</div>

</div>
<div class="play-again-wrapper hide">
  <h3 class="game-winner"></h3>
  <button id="playAgain">Play Again</button>
</div>

</div>

<script>
  import { gameStarted, gameFinished, p1LivesText, p2LivesText, p3LivesText, numberOfPlayers, gameWinner, p1Wins, p2Wins, p3Wins } from "../store";
  gameStarted.subscribe(started => {
    if (started){
      document.querySelector('.init-wrapper')?.classList.add('hide')
      document.querySelector('.livesOverlay')?.classList.remove('hide')
    } else {
      document.getElementById('init-wrapper')?.classList.remove('hide')    }
  })
  gameFinished.subscribe(finished => {
    if (finished){
      document.querySelector('.play-again-wrapper')?.classList.remove('hide')
    } else {
            document.querySelector('.play-again-wrapper')?.classList.add('hide')
    }
  })

// Game Winner
gameWinner.subscribe(winner => {
  document.querySelector('.game-winner').innerHTML = `${winner} Wins!`
})

// Update Lives
  p1LivesText.subscribe(lives => {
    const hearts = '❤️'.repeat(lives);
    document.querySelector('.p1-lives-text').innerHTML = hearts;
  })

  p2LivesText.subscribe(lives => {
    const hearts = '❤️'.repeat(lives);
    document.querySelector('.p2-lives-text').innerHTML = hearts;
  })

  p3LivesText.subscribe(lives => {
    const hearts = '❤️'.repeat(lives);
    document.querySelector('.p3-lives-text').innerHTML = hearts;
  })

  numberOfPlayers.subscribe(num => {
    if(num == 2){
      document.querySelector('.player-three-lives')?.classList.add('hide')
    }
  })
  

 function startSinglePlayer(){
  numberOfPlayers.set(1);
  startGame()

 }
 function startTwoPlayer(){
  numberOfPlayers.set(2);
  startGame()

 }
 function startThreePlayer(){
  numberOfPlayers.set(3)
  startGame()

 }
function startGame(){
  gameStarted.set(true);
}
function restartGame(){
  gameFinished.set(false);
}

document.getElementById('onePlayer')?.addEventListener('click', startSinglePlayer)
document.getElementById('twoPlayer')?.addEventListener('click', startTwoPlayer)
document.getElementById('threePlayer')?.addEventListener("click", startThreePlayer)
document.getElementById('playAgain')?.addEventListener("click", restartGame)
</script>

<style>
*{
  color: white;
}
.hidden{
display: none;
}
  #gameOverlay{
    width: 800px;
    height: 600px;
    /* border:1px solid white; */
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* z-index: 5; */
  }

  .header{
     position: absolute; 
     font-size: 48px;
  left: 0; 
  right: 0; 
  top: -110px;
  margin-inline: auto; 
  width: fit-content;
      color:white;
  }

  .game-winner{
    font-size: 2rem;
  }

  .player-one-lives{
    position: absolute;
    left: -110px;
    top:0;
    color:white;
    text-align: center;
  }
  .player-two-lives{
    position: absolute;
    right: -105px;
    top:0;
        color:white;
    text-align: center;

  }

  .player-three-lives{
    position: absolute; 
  left: 0; 
  right: 0; 
  bottom: -105px;
  margin-inline: auto; 
  width: fit-content;
      color:white;
    text-align: center;

  }

  .player-button-wrapper{
    display: flex;
    justify-content: center;
    gap:10px;
  }

  .player-button-wrapper > * {
    width: 100px;
    background-color: darkviolet;
    border:1px solid black;
    padding: 0.25rem 0.5rem;
        cursor: pointer;

  }
  

  .init-wrapper{
        display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .play-again-wrapper{
    display: flex;
    width:100%;
    height:100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #playAgain{
    cursor: pointer;
    width: 100px;
    background-color: darkviolet;
    border:1px solid black;
    padding: 0.25rem 0.5rem;
  }

  .hide{
    display: none;
  }
  h2 {
    color:white;
  }
</style>